
<%= render 'layouts/header_dashboard' %>


<br><br><br><br>

<h1>DEALER DASHBOARD</h1>
<br>

  <h4>INVENTORY</h4>
    <ul>
      <li>Total Autos in Inventory:  <%= Auto.where.not(sold: true).count %> </li> 
      <li>Autos on Sale in showroom "Featured" section: <%= Auto.where(featured: true).count %></li>
      <li>Value of Inventory:   $<%= Auto.where.not(sold: true).sum(:purchase_price) %> </li>
      <!-- <li>Average time in Inventory</li> -->

    </ul>

    <br>
    
  <h4>SALES</h4>
      <ul>
        <li>Autos Sold to Date:  <%= Auto.distinct.count('sold') %></li>
        <li>Sales Total to Date:  $<%= Auto.where(sold: true).sum(:price_sold) %>
        <!-- <li>Sales This Week</li>  
        <li>Monthly Sales</li> -->
        <!-- Auto.group(:year).distinct.count(:date) -->
        <li> 2018 Sales: $<%= Auto.where(purchase_date: "2018").sum(:price_sold) %></li>
        <li> 2017 Sales: $<%= Auto.where(year: "2017").sum(:purchase_price) %></li>
         
      </ul>

  <br><br>









