
<br><br>
<%= render 'layouts/header_dashboard' %>


<!-- <p id="notice"><%= notice %></p> -->

<br><br><br><br>
<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th>Phone number</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.position %></td>
        <td><%= user.phone_number %></td>
        <td><%= user.email %></td>
        <td class="text-center"><%= link_to 'Show', user, class: "btn btn-default btn-xs" %>
        <%= link_to 'Edit', edit_user_path(user), class: "btn btn-default btn-xs" %> </td>
        <td class="text-center"><%= link_to 'Delete', user, class: "btn btn-danger btn-xs", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path, class: "btn btn-default" %>
