<!DOCTYPE html>
<html lang="en">
<head>
  <title>Auto Gallery</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 


  <!--Shim adjusts for older IE 9 or less browsers-->
  <%= render 'layouts/shim' %>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">


<!-- NAVBAR -->
<%= render 'layouts/header' %>


<!-- JUMBOTRON -->

  <!-- <div class="jumbotron text-center">
    <h1>Auto Gallery</h1>
    <p>The Right Car at the Right Price</p>
  </div> -->

  <!-- PARALLAX IMAGE -->
  <div class="parallax1">
    <div class="text-center contact-font">
      <br><br><br> <!-- TODO.Refactor this -->
      <h1> Auto Gallery </h1><br><br><br>
      <h3>The Right Car at the Right Price </h3>
    </div>
  </div>



<!-- Container (FEATURED AUTOS) -->

<div id="portfolio" class="container-fluid text-center bg-grey">
  <h2>FEATURED AUTOS</h2><br>
  <h4>Special Autos, Special Price</h4>
</div>
  
<div class="container">
  <div class="row">
<% @featured.each do |auto| %>

    <div class="col-xs-18 col-sm-4 col-md-3">

      <div class="productbox">

        <div class="imgthumb img-responsive">
          <%= image_tag(auto.image_url.to_s) %>
        </div>

        <div class="caption">

          <h5><%= auto.make %>
          <%= auto.model %>
          <%= auto.year %></h5>

          <s class="text-muted"></s> <b class="finalprice">$<%= auto.list_price %></b> 

          <!-- Button for Details -->
          <!-- <a href="#" class="btn btn-default btn-xs pull-right" role="button"><i class="glyphicon glyphicon-zoom-in"></i></a> -->
          <!-- Test drive button for each card, maybe use? -->
             <!--  <p>
              <button type="button" class="btn btn-success btn-sm center-block">Test Drive</button>
              </p> -->
        </div>

        <div class="sale">
          <b>Sale</b>
        </div>

         <!-- <div class="sale">
          <b>90%</b><br>OFF
        </div> -->

      </div>
    </div>

<% end %>
  </div><!--/row-->
</div><!--/container -->


  <br><br>
  <div>
    <p class="text-center"><a href="#" class="btn btn-primary">Schedule a Test Drive</a></p>
    
    <!-- TODO.reformat -->
    <!-- <p id="btn1" class="text-center btn btn-primary">
      <%= link_to 'See More Autos', search_path %>
    </p> -->

  <br><br><br><br>



<!-- PARALLAX IMAGE -->
  <div class="parallax2 bg-img">
    <div class="text-center contact-font">
      <br><br><br><br><br><br><br><br> <!-- TODO.Refactor this -->
      <h1> Auto Gallery </h1>
      <h3>The Right Car at the Right Price </h3>
    </div>
  </div>


 <!--Container (Services Section)-->
<div id="services" class="container-fluid text-center">
  <h2>SERVICES</h2>
  <h4>What we offer</h4>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-road logo-small"></span>
      <h4>Generous Warranty</h4>
      <p>One year warranty covers all repairs for a year</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-heart logo-small"></span>
      <h4>LOVE</h4>
      <p>We love cars...we love our customers.</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-thumbs-up logo-small"></span>
      <h4>GREAT CUSTOMER SERVICE</h4>
      <p>Happy customers are our number one goal.</p>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-leaf logo-small"></span>
      <h4>GREEN</h4>
      <p>We recycle and use environment friendly products.</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-certificate logo-small"></span>
      <h4>CERTIFIED</h4>
      <p>Certified mechanics</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-wrench logo-small"></span>
      <h4 style="color:#303030;">QUALITY WORK</h4>
      <p>Quality  work keeps your auto running strong and reliable</p>
    </div>
  </div>
</div>

  <br><br><br>

    <p class="text-center"><a href="#" class="btn btn-primary">Schedule Auto Service</a></p>

  <br><br><br><br>

<div class="parallax3 bg-img">
  <div class="text-center contact-font">
    <br><br><br><br><br><br><br><br> <!-- TODO.Refactor this -->
    <h1>Auto Gallery </h1>
    <h3>Excellent Auto Service</h3>
  </div>
</div>

  <br><br><br>



<!-- Add Google Maps -->
<div class="container-fluid text-center">
  <h2>DIRECTIONS</h2>
  <h4>Find the Right Car at the Right Price</h4>
  <br>
</div>
<center>
<div id="googleMap" style="height:400px;width:60%;"></div>
<script>
    function myMap() {
        var myCenter = new google.maps.LatLng(36.1326614,-86.7587609);
        var mapProp = {center:myCenter, zoom:12, scrollwheel:false, draggable:false, mapTypeId:google.maps.MapTypeId.ROADMAP};
        var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
        var marker = new google.maps.Marker({position:myCenter});
        marker.setMap(map);
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkWslnRKIUhtGkaD4m28H00-AGKwp0DFU&callback=myMap"></script>
</center>

  <br><br><br>

    <p class="text-center"><a href="#" class="btn btn-primary">Schedule an Auto Consult</a></p>

  <br><br><br><br>

<!-- PARALLAX IMAGE #4 NASHVILLE -->

      <div class="parallax4 bg-img">
        <div class="text-center contact-font">
          <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> <!-- TODO.Refactor this -->
          
            Located in <br>
            "Music City"<br>
            Nashville, Tennessee      
        </div>
      </div>

  <br><br><br>

    <p class="text-center"><a href="#" class="btn btn-primary">Contact Us</a></p>

  <br>


<!--   FOOTER   -->
  
<%= render 'layouts/footer' %>


<!--   DEALER LOGIN   -->

<div class="login">
      <%= link_to "Login", login_path, class: 'login'%>
</div>
<br><br>

</body>
</html>
