<%= form_with(model: auto, local: true) do |form| %>
  <% if auto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(auto.errors.count, "error") %> prohibited this auto from being saved:</h2>

      <ul>
      <% auto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :make %>
    <%= form.text_field :make, id: :auto_make %>
  </div>

  <div class="field">
    <%= form.label :model %>
    <%= form.text_field :model, id: :auto_model %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.text_field :year, id: :auto_year %>
  </div>

  <div class="field">
    <%= form.label :trim %>
    <%= form.text_field :trim, id: :auto_trim %>
  </div>

  <div class="field">
    <%= form.label :vin %>
    <%= form.number_field :vin, id: :auto_vin %>
  </div>

  

  <div class="field">
    <%= form.label :auto_img %>
    <%= form.text_field :auto_img, id: :auto_auto_img %>
  </div>

   <div class="field">
    add an image....
    <%= form.file_field :image %>
  </div>



  <div class="field">
    <%= form.label :auto_description %>
    <%= form.text_area :auto_description, id: :auto_auto_description %>
  </div>

  <div class="field">
    <%= form.label :condition %>
    <%= form.text_field :condition, id: :auto_condition %>
  </div>

  <div class="field">
    <%= form.label :mileage %>
    <%= form.number_field :mileage, id: :auto_mileage %>
  </div>

  <div class="field">
    <%= form.label :list_price %>
    <%= form.number_field :list_price, id: :auto_list_price %>
  </div>

  <div class="field">
    <%= form.label :price_sold %>
    <%= form.number_field :price_sold, id: :auto_price_sold %>
  </div>

  <div class="field">
    <%= form.label :sold %>
    <%= form.check_box :sold, id: :auto_sold %>
  </div>

  <div class="field">
    <%= form.label :featured %>
    <%= form.check_box :featured, id: :auto_featured %>
  </div>

  <div class="field">
    <%= form.label :purchase_price %>
    <%= form.number_field :purchase_price, id: :auto_purchase_price %>
  </div>

  <div class="field">
    <%= form.label :purchase_date %>
    <%= form.date_select :purchase_date, id: :auto_purchase_date %>
  </div>

  <div class="field">
    <%= form.label :price_sold %>
    <%= form.number_field :price_sold, id: :auto_price_sold %>
  </div>

  <div class="field">
    <%= form.label :date_sold %>
    <%= form.date_select :date_sold, id: :auto_date_sold %>
  </div>

  <div class="field">
    <%= form.label :sold_by %>
    <%= form.text_field :sold_by, id: :auto_sold_by %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :auto_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
