<%= render 'layouts/header_dashboard' %>



<br>
<h1>Auto Inventory</h1>

<!-- SEARCH -->

<div class="input-group" align="center">
  <div class="form-inline">
    <%= form_tag(autos_path, method: :get) do %>
    <%= text_field_tag :term %>
    <%= submit_tag 'Search', class: "btn btn-success"  %>
    <% end %>
  <%= link_to 'Reset', autos_path, class: "btn btn-default" %>
  </div>
</div> 

<!-- /SEARCH -->

<br>

<div style="overflow-x:auto;">

  <table>
    <thead>

      <tr>
        <th>Make</th>
        <th>Model</th>
        <th>Year</th>
        <th>Condition</th>
        <th>Mileage</th>
        <th>List price</th>


        <th colspan="3">Edit</th>
      </tr>
    </thead>

    <tbody>
      <% @autos.each do |auto| %>
        <tr>
          <td><%= auto.make %></td>
          <td><%= auto.model %></td>
          <td><%= auto.year %></td>
          <td><%= auto.condition %></td>
          <td><%= auto.mileage %></td>
          <td><%= auto.list_price %></td>

          <td class="text-center" ><%= link_to 'Details', auto, class: "btn btn-default btn-xs" %>
            <%= link_to 'Edit', edit_auto_path(auto), class: "btn btn-default btn-xs" %></td>
          <td class="text-center" ><%= link_to 'Delete', auto, class: "btn btn-danger btn-xs", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>

<%= link_to 'New Auto', new_auto_path, class: "btn btn-default" %>

<br><br>
