

<!-- NAVBAR -->
<%= render 'layouts/header' %>


<!--<p id="notice"><%= notice %></p>-->


<br><br><br>
<table>
  <thead>
  <tr>
    <th>Make</th>
    <th>Model</th>
    <th>Year</th>
    <th>Trim</th>
    <!-- <th>Vin</th> -->
    <th>Auto description</th>
    <th>Condition</th>
    <th>Mileage</th>
    <th>List price</th>
    <!-- <th>Featured</th> -->
    <!-- <th>Purchase price</th> -->
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @autos.each do |auto| %>
    <tr>
      <td><%= auto.make %></td>
      <td><%= auto.model %></td>
      <td><%= auto.year %></td>
      <td><%= auto.trim %></td>
      <!-- <td><%= auto.vin %></td> -->
      <td><%= auto.auto_description %></td>
      <td><%= auto.condition %></td>
      <td><%= auto.mileage %></td>
      <td><%= auto.list_price %></td>
      <!-- <td><%= auto.price_sold %></td> -->
      <td><%= link_to 'Show_Details', auto %></td>
      <!--<td><%= link_to 'Edit', edit_auto_path(auto) %></td>-->
      <!--<td><%= link_to 'Destroy', auto, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
    </tr>
  <% end %>
  </tbody>
</table>





 
<div class="container">
  <h2>Card Image</h2>
  <p>Image at the top (card-img-top):</p>
  <div class="card" style="width:250px">
    <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:80%">
    <div class="card-body">
      <h4 class="card-title">John Doe</h4>
      <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
      <a href="#" class="btn btn-primary">See Profile</a>
    </div>
  </div>
  <br>
</div>








