

<!-- NAVBAR -->
<%= render 'layouts/header' %>


<p id="notice"><%= notice %></p>


<div id="portfolio" class="container-fluid text-center bg-grey">
  <h2>Auto Showroom</h2><br>
  <h4>The Right Car at the Right Price</h4>
</div>

  <div class="text-center">
    <%= link_to 'Schedule a Test Drive', contact_path, class: "btn btn-primary" %>
  </div>

<br><br>

<div class="container">
  <div class="row">

<% @autos.each do |auto| %>

    <div class="col-xs-18 col-sm-4 col-md-3">

      <div class="productbox">

        <div class="imgthumb img-responsive">
          <%= image_tag(auto.image_url.to_s) %>
        </div>

        <div class="caption">

          <h5><%= auto.make %>
          <%= auto.model %>
          <%= auto.year %></h5>

          <s class="text-muted"></s> <b class="finalprice">$<%= auto.list_price %></b> 
          
        </div>

      </div>
    </div>

<% end %>
  </div><!--/row-->
</div><!--/container -->


  <br><br>
    <p class="text-center">
      <%= link_to 'Schedule a Test Drive', contact_path, class: "btn btn-primary" %>
    </p>

  <br><br><br>





