

<!-- NAVBAR -->
<%= render 'layouts/header' %>


<p id="notice"><%= notice %></p>


<div id="portfolio" class="container-fluid text-center bg-grey">
  <h2>Auto Showroom</h2><br>
  <h4>The Right Car at the Right Price</h4>
</div>
  
<div class="container">
  <div class="row">

<% @autos.each do |auto| %>

    <div class="col-xs-18 col-sm-4 col-md-3">

      <div class="productbox">

        <div class="imgthumb img-responsive">
          <%= image_tag(auto.image_url.to_s) %>
        </div>

        <div class="caption">

          <h5><%= auto.make %>
          <%= auto.model %>
          <%= auto.year %></h5>

          <s class="text-muted"></s> <b class="finalprice">$<%= auto.list_price %></b> 

          <!-- Button for Details -->
          <!-- <a href="#" class="btn btn-default btn-xs pull-right" role="button"><i class="glyphicon glyphicon-zoom-in"></i></a> -->
          <!-- Test drive button for each card, maybe use? -->
             <!--  <p>
              <button type="button" class="btn btn-success btn-sm center-block">Test Drive</button>
              </p> -->
        </div>

       <!--  <div class="sale">
          <b>Sale</b>
        </div> -->

         <!-- <div class="sale">
          <b>90%</b><br>OFF
        </div> -->

      </div>
    </div>

<% end %>
  </div><!--/row-->
</div><!--/container -->


  <br><br>
  <div>
    <p class="text-center"><a href="#" class="btn btn-primary">Schedule a Test Drive</a></p>
  
  </div>







